* {
    z-index: 1;
}

.nav-link {
    color: black;
    cursor: pointer;
}

.nav-link.active {
    color: #fff;
    background-color: #B197FC;
    cursor: default;
}

.scrollable-tabs {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.scrollable-tabs .nav-item {
    flex: 0 0 auto;
}

.scrollable-tabs .nav-link {
    padding: 0.5rem 1rem;
    display: block;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.btn-primary {
    background-color: #B197FC;
    border-color: transparent;
    color: white;
    transition: all 0.3s ease;
    z-index: 0;
}

.btn-primary .fa-solid {
    margin-right: 10px;
}

.btn-primary .fas {
    margin-right: 10px;
}

.save:hover {
    transform: translateY(-10px);
}

.custom-file-input-container {
    position: relative;
}

#fileInput {
    display: none;
}

.custom-file-input-container label {
    cursor: pointer;
}

#btnFileInput {
    background-color: #B197FC !important;
    border-color: transparent !important;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.media-link{
    color: black;
}

.media-link .fa-solid{
    margin-right: 10px;
}

.text-container {
    margin-left: 10px;
    max-width: 50px; 
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
}

.my-dropdown{
    background-color: transparent;
    border: none;
    font-size: 1em;
}

.dropdown-item{
    cursor:pointer;
}

@media only screen and (min-width: 425px) {
    .text-container {
        max-width: 100px;
    }
}
@media only screen and (min-width: 768px) {
    .text-container {
        max-width: 175px;
    }
}
@media only screen and (min-width: 1024px) {
    .text-container {
        max-width: 220px;
    }
}